<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:application.properties"/>
    <bean id="dataSource"
class="org.springframework.jdbc.datasource.DriverManagerDataSource">
    <property name="driverClassName" value="org.postgresql.Driver"/>
    <property name="url" value="${spring.datasource.url}"/>
    <property name="username" value="${spring.datasource.username}"/>
    <property name="password" value="${spring.datasource.password}"/>
</bean>
<bean id="vkProvider" class="com.weblab.vk.VkProvider">
    <constructor-arg name="accessToken" value="e6242acc2fb1337e0f6fddd51c41331dd366589470e9dd35ebad05d8a48a4f85af7b544ce77a42a04b5ce"/>
    <constructor-arg name="userAccessToken" value="15e35e2623914da8bcbafbece8278fee02be720c596993003d9c181ba4c381825503c8e5ebc00973895b4"/>
    <constructor-arg name="userId" value="212372727"/>
    <constructor-arg name="vkAuthHandler" ref="vkAuthHandler"/>
</bean>


    <bean id="passwordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"/>

   <bean id="userDetailService" class="com.weblab.service.UserServiceImpl">

   </bean>

    <bean id="emailUtil" class="com.weblab.service.EmailServiceWrapper">
        <constructor-arg name="emailService" ref="defaultEmailService"/>
    </bean>

   <bean id="SocialUSerDetailService" class="com.weblab.service.SimpleSocialUserDetailsService">
       <constructor-arg name="userDetailsService" ref="userDetailService"/>
   </bean>

</beans>
<!--Deploy token-->
<!--d86ce3bd85fc36a8a3356afbaa92a6344d2e1cbbe5d4ad36198d89d28962c77a50266388f5cfcc7015e77-->
